<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxx.vacation.batch.infra.QuartzExploreMapper">
    <select id="findByGroupName"
            parameterType="String"
            resultType="com.jxx.vacation.batch.dto.response.CronTriggerResponse">
        SELECT
        QCT.TRIGGER_NAME ,
        QCT.TRIGGER_GROUP ,
        QCT.CRON_EXPRESSION
        FROM QRTZ_CRON_TRIGGERS QCT
        <where>
            <if test="triggerGroupName != null and triggerGroupName != ''"></if>
            AND QCT.TRIGGER_GROUP = #{triggerGroupName}
        </where>
    </select>
    <select id="findAll"
            resultType="com.jxx.vacation.batch.dto.response.CronTriggerResponse">
        SELECT QCT.TRIGGER_NAME,
               QCT.TRIGGER_GROUP,
               QCT.CRON_EXPRESSION
        FROM QRTZ_CRON_TRIGGERS QCT
    </select>
    <select id="findSchedulingInformation"
            parameterType="string"
            resultType="com.jxx.vacation.batch.dto.response.JobSchedulingResponse">
        SELECT MD.JOB_META_DATA_PK ,
               MD.JOB_NAME ,
               MD.JOB_DESCRIPTION ,
               MD.ENROLLED_TIME ,
               QT.TRIGGER_TYPE ,
               QT.TRIGGER_NAME ,
               QT.TRIGGER_GROUP ,
               QT.TRIGGER_STATE ,
               QCT.CRON_EXPRESSION
        FROM JXX_BATCH_JOB_META_DATA MD
                 LEFT JOIN QRTZ_TRIGGERS QT ON MD.JOB_NAME = QT.JOB_NAME
                 LEFT JOIN QRTZ_CRON_TRIGGERS QCT ON QT.TRIGGER_NAME = QCT.TRIGGER_NAME
        WHERE QT.TRIGGER_NAME = #{triggerName};
    </select>
    <select id="findAllSchedulingInformation"
            resultType="com.jxx.vacation.batch.dto.response.JobSchedulingResponse">
        SELECT MD.JOB_META_DATA_PK ,
               MD.JOB_NAME ,
               MD.JOB_DESCRIPTION ,
               MD.ENROLLED_TIME ,
               QT.TRIGGER_TYPE ,
               QT.TRIGGER_NAME ,
               QT.TRIGGER_GROUP ,
               QT.TRIGGER_STATE ,
               QCT.CRON_EXPRESSION
        FROM JXX_BATCH_JOB_META_DATA MD
                 LEFT JOIN QRTZ_TRIGGERS QT ON MD.JOB_NAME = QT.JOB_NAME
                 LEFT JOIN QRTZ_CRON_TRIGGERS QCT ON QT.TRIGGER_NAME = QCT.TRIGGER_NAME;
    </select>
</mapper>
